<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game Predictions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <link rel="stylesheet" href="static/css/style.css">

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>

        <div class="container">
            <div class="jumbotron">
                <h1>ML Model Accuracy</h1>
                
            </div>
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>

            <div id="#myModel" class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Model</th>
                                <th>Accuracy</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="static/js/modelAccuracies.js"></script>
        <script src="http://d3js.org/d3.v4.min.js"></script>


</body>